<h1>Log In</h1>

<%= render partial: "layouts/errors", locals: {object: @user} %>
<%= flash[:message] if flash[:message] %> <br>

<%= form_for :user do |f| %>

<%= f.label :email %>
<%= f.email_field :email, required:true %><br><br>

<%= f.label :password %>
<%= f.password_field :password, required:true %><br><br>


    <%= f.submit "Login"%>


<% end %>
