<h1><%= @comment.recipe.title %></h1>
<h3>By: <%= @comment.user.username %></h3>

<% if @comment.user == current_user %>
  <%= link_to "Edit Comment", edit_comment_path(@comment)%>
<% end %>

<h4>See the full recipe here: <%= link_to @comment.recipe.title, recipe_path(@comment.recipe_id) %></h4>

<h3>Comment:</h3>
    <h4><%= @comment.content %>
