<h1>All Recipes:</h1>
<%= link_to "Create New Recipe", new_recipe_path  %>

<% if @recipes = current_user.recipes %>

 <ul>
  <% Recipe.all.each do |recipe| %>
    <p><li><strong><%= link_to recipe.title, recipe_path(recipe.id) %></strong><br> 
    <small>Category: <%= link_to recipe.category.name, "categories/#{recipe.category_id}" %></small> |
    <small>Written By: <%= recipe.user.username %></small></p>
      <p><%= recipe.description %></p>
      <small>Posted: <%=recipe.created_at.strftime("%I:%M %p on %m/%d/%Y")  %></small> 
  </li>
  <%end%>
</ul> 




<% end %>
 
