<h1>New Recipe:</h1>


<%= render partial: "layouts/errors", locals: {object: @recipe} %>


<%= form_for(@recipe) do |f|%>

  <%= f.label "Choose a Category:" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  <p>Or Create a New Category:
  <%= f.fields_for :category do |c| %>
    <%= c.text_field :name %>
  <% end %>
  </p>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="content">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </div>

  <div class="content">
  <%= f.label :instructions %><br>
  <%= f.text_area :instructions, size: "50x18" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>