<h1><%= @recipe.title %></h1>
<h3>By: <%= @recipe.user.username %></h3>
<h2><%= @recipe.description %></h2>
<h3><%= @recipe.instructions %></h3>

<% if logged_in? %>
<%= render partial: 'comments/form' %>
<% end %>

<h1> Your Houses List</h1>



<% if @recipes = current_user.recipes %>


    <% @recipes.each do |recipe| %>

 <li><%= link_to "Show #{recipe.title}", recipe_path(recipe) %></li>
 
 <% end %>
 <p><%= link_to "New Recipe", new_recipe_path  %></p>


<% else %>

<p><%= link_to "New Recipe", new_recipe_path  %></p>

<% end %>
 

  <div class="comment_container comment_showcase-inner">

    <% if @recipe.comments.present? %>
    <h4>Comments:</h4><br>
    <%= render partial: 'reviews/comment', collection: @review.comments %>
    <% end %>
</div>

