<h1><%= @recipe.title %></h1>
<h3>By: <%= @recipe.user.username %></h3>
<h2><%= @recipe.description %></h2>
<h3><%= @recipe.instructions %></h3>

 
 

  <div class="comment_container comment_showcase-inner">
  <h3>Comments:</h3><br>

    <% @recipe.comments.each do |comment| %>
    <p><%= comment.content %></p><br>
    <%= comment.user.username %>
    <% end %>
</div>

