<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@user.errors.count, "error") %> prohibited
    this user from saving:
  </h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @user do |f| %>
  
    <label>Username:</label><br>
  <%= f.text_field :username %></br>

  <label>Email:</label><br>
  <%= f.email_field:email %></br>

  <label>Password:</label><br>
  <%= f.password_field :password %></br>

  <%= f.submit %>
<% end %>