<h1><u><%= @category.name %></u></h1>
<h2>Contains <%= pluralize(@category.recipes.count, "Recipe") %></h2>
<p><%= link_to "Create New Recipe", new_category_recipe_path(@category) %></p><br><br>
<ul>
<% @category.recipes.each do |recipe| %>
  <p><li><strong><%= link_to recipe.title, recipe_path(recipe) %></strong></a> 
      <p><%=recipe.description %></p>
      <small>Posted: <%=recipe.created_at.strftime("%I:%M %p on %m/%d/%Y") %></small>
  </li>
  <% end%>
</ul></p>